.section-articles {
    // background-color: blue;
    background-color: #fff;


    .articles {
        height: 50vh;
        // background-color: yellow;
        padding: 40px;

        .filtres {
            background-color: beige;
            padding: 20px;
            color: black;

            a {
                margin: 0 20px;
               &.current {
                font-weight: bold;
                color: red;
                text-decoration: none;
               } 
            }
        }


.mesarticles{

//    background-color: green; 

    display: flex;
    margin-bottom: 50px;
    
    
    flex-wrap: wrap;
    // justify-content: flex-start;
    gap: 20px;

    article {
        // margin: 10px;
        border: solid 5px #eaeaea;
        // width: calc(25% - 20px); 
        width: calc((100% - 60px) / 4); 
        aspect-ratio: 1/1;
        color: black;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        
        img {
            width : 100%;
            height: 50%;
            object-fit: cover;
        }
        h2 {
            margin: 0 0 50px 0;
            // display: none;
            text-align: center;
        }

         &.web {
            border-color: red;
        }
        &.edition {
            border-color: blue;
        }
        &.troisd {
            border-color: green;
        }
    }
   
    
    h2{
        // @extend %sectitre;
        padding: 10px
    }
      
    
}

} //articles

} //fin